#unity-container {
  width: 720px;
  height: 405px;
    background-color: transparent;
}

#unity-loading {
  position: absolute;
  width: 720px;
  height: 405px;
  display: flex;
  justify-content: center;
  align-items: center;
    background-color: transparent;
}

#unity-canvas {
  background-color: transparent;
  position: absolute;
  width: 720px;
  height: 405px;
}
